
pc/home_pc/config/ckb-next/ckb-next.conf

pc/home_pc/config/nomacs/Image Lounge.conf

pc/home_pc/config/polybar/polybar-scripts/

pc/arch-main-pc/config/polybar/polybar-scripts/

pc/arch-main-pc/config/ranger/commands.py

pc/arch-main-pc/config/ranger/commands_full.py
